auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
smex-items
\#*
.places
.cache
backups/
recentf
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
/test.org
config.el
/abbrev_defs
/.emacs.desktop
/.emacs.desktop.lock
/.local/
/eshell/
/quelpa/build/font-lock+/
/quelpa/build/quelpa-use-package/
/quelpa/cache
/quelpa/melpa/
/quelpa/
url/
custom.el
/recentf~
/transient/history.el
/request/curl-cookie-jar
