auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
.cache
backups/
recentf
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
